Source: python-junit-xml
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Bastian Germann <bage@debian.org>
Build-Depends: debhelper-compat (= 13), python3-all:any, pybuild-plugin-pyproject, python3-setuptools, python3-six, python3-pytest
Standards-Version: 4.6.1
Homepage: https://github.com/kyrus/python-junit-xml
Vcs-Git: https://salsa.debian.org/python-team/packages/python-junit-xml.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-junit-xml

Package: python3-junit.xml
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: creates JUnit XML test result docs readable by tools such as Jenkins (py3k)
 A Python module for creating JUnit XML test result documents that can be read
 by tools such as Jenkins. If you are ever working with test tool or test suite
 written in Python and want to take advantage of Jenkins’ pretty graphs and test
 reporting capabilities, this module will let you generate the XML test reports.
 .
 This package contains the Python 3 version of junit_xml module .
